/* ЗАГАЛЬНЕ */
:root {
  --cornflower: #e7e9fc;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

body {
  font-family: roboto, raleway, sans-serif;
  color: #434455;
  background-color: #fff;
}

.section {
  padding: 96px 0;
}

.team-section h2,
.portfolio-section h2,
.features-section h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* ХЕДЕР */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow:
    0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

/* ЛОГО */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 16px;
}

.footer-logo .logo-part {
  color: #f4f4fd;
}

/* НАВІГАЦІЯ */
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link::after {
  content: "";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  opacity: 0;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
  opacity: 1;
}

.header-nav a:hover,
.header-nav a:focus,
.address-class a:hover,
.address-class a:focus,
.nav-link.current {
  color: #404bbf;
}

.address-class {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ХЕРО СЕКЦІЯ */
.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
  text-align: center;
  padding: 188px 0;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/background-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 48px;
}

.hero-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 169px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ПЕРЕВАГИ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.features-section {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
}

.icon-box {
  justify-content: center;
  background-color: #f4f4fd;
  width: 264px;
  height: 112px;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  margin-bottom: 8px;
  display: none;
}

.icon {
  fill: #2e2f42;
}

.features-item {
  width: 288px;
}

.features-item h3 {
  margin-bottom: 8px;
}

/* КОМАНДА */
.team-section {
  background-color: #f4f4fd;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-section .team-item {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  width: 264px;
}

.team-section .team-member {
  text-align: center;
}

.team-section .member-position {
  text-align: center;
}

.team-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px 16px;
  gap: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 0;
}

.social-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link svg {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

/* ПОРТФОЛІО */

.portfolio-section .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-app {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 360px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item-container {
  border-bottom: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  padding: 32px 16px;
  width: 360px;
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.hidden-window {
  position: relative;
  overflow: hidden;
  max-width: 360px;
  height: 300px;
}

.hidden-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  color: #f4f4fd;
  position: absolute;
  top: 0;
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .hidden-text {
  transform: translateY(0);
}

/* ФУТЕР */
.footer-class {
  background-color: #2e2f42;
  color: #f4f4fd;
  padding: 100px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-class .container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.footer-text {
  max-width: 264px;
  flex-direction: column;
}

.footer-descr {
  margin-right: 120px;
}

.footer-list {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: #f4f4fd;
}

.footer-link {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link svg {
  fill: #f4f4fd;
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-subscr {
  margin-left: auto;
}

.subscr-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  padding-bottom: 16px;
}

.subscr-form {
  display: flex;
  gap: 24px;
}

.subscr-button {
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border: none;
  cursor: pointer;
  gap: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscr-button:hover,
.subscr-button:focus {
  background-color: #31d0aa;
}

.subscr-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: #2e2f42;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: #ffffff;
  padding-left: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  transition:
    outline 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscr-input:focus {
  outline: none;
  border-color: #31d0aa;
}

.subscr-input::placeholder {
  color: #ffffff;
}

.subscr-icon {
  fill: #ffffff;
}

/* МОДАЛЬНЕ ВІКНО */
.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1),
    pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-overlay:not(.not-is-open) .modal {
  transform: translate(-50%, -50%);
}

.modal {
  padding: 72px 24px 16px 24px;
  background-color: #fcfcfc;
  position: relative;
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.order-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 4px;
  width: 360px;
  height: auto;
}

.label {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-top: 8px;
  margin-bottom: 4px;
}

.label-name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input-form {
  position: relative;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  align-items: center;
  padding-right: 24px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form:focus {
  border-color: #4d5ae5;
  outline: none;
}

.input-wrapper:focus-within .icon-form {
  fill: #4d5ae5;
}

.form-comment:focus {
  border-color: #4d5ae5;
  outline: none;
}

.form-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 120px;
  padding-left: 16px;
  padding-top: 8px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--navy-blue-modal);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-field {
  margin-top: 16px;
}

.privacy-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

.privacy-label {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.privacy-label {
  gap: 8px;
}

.privacy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.custom-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition:
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .privacy-label > .custom-checkbox {
  border-radius: 2px;
  border: 1px solid #404bbf;
  background-color: #404bbf;
}

.checkbox:checked + .privacy-label > .custom-checkbox .checkbox-icon {
  fill: #ffffff;
}

.form-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 24px;
}

.form-button:hover,
.form-button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
 .container {
  max-width: 768px;
  padding: 0 16px;
 }

 .features-section {
  font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 }

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 72px 24px;
}

.features-item {
  width: 356px;
}

}

@media screen and (min-width: 1440px) {
  .container {
  max-width: 1158px;
  padding: 0 15px;
  }

  .section {
  padding: 120px 0;
 }

  .team-section h3,
.portfolio-section h3,
.features-section h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-section {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.features-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.icon-box {
  display: flex;
}

.features-item {
  width: 264px;
}



}